/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */
.row {
	display: flex;
	flex-flow: row wrap;
}

[class*="col-"] {
	margin-left: 1%;
	margin-bottom: 1%;
	flex: 0 0 92	1%;
}

.col-1, .col-3-1 {
	flex: 0 0 98%;
	background-color: sandybrown;
}

.col-2 {
	flex: 0 0 98%;
	background-color: skyblue;
}

.col-3-2 {
	flex: 0 0 98%;
	background-color: teal;
}

.col-4 {
	flex: 0 0 98%;
	background-color:violet;
}

.col-5-1 {
	flex: 0 0 98%;
	background-color: turquoise;
}

.col-5-2 {
	flex: 0 0 98%;
	background-color:thistle;
}


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	.col-1, .col-2, .col-5-1 {
		flex: 0 0 48%;
	}

	.col-3-1, .col-3-2, .col-4 {
		flex: 0 0 98%;
	}

	.col-5-2 {
		flex: 0 0 98%;
		order: -1;
	}
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	.col-1, .col-3-1, .col-5-1 {
		flex: 0 0 24%;
	}

	.col-2 {
		flex: 0 0 49%;
	}

	.col-3-2 {
		flex: 0 0 74%;
	}

	.col-4 {
		flex: 0 0 99%;
	}
	
	.col-5-2 {
		flex: 0 0 49%;
		order: 0;
	}
}